textarea.
    body,h1,h2,h3,p,dl,dd,ol,ul,th,td,form,fieldset,input,button,textarea
        margin: 0
        padding: 0
    html
        -webkit-text-size-adjust: none
        word-wrap: break-word
    h1,h2,h3
        font-size: 100%
    ol,ul
        list-style: none
    table
        border-collapse: collapse
        border-spacing: 0
        empty-cells: show
        font-size: inherit
    fieldset,img
        border: 0
    cite,em,s,i,b
        font-style: normal
    input,button,textarea,select
        font-size: 100%
    body,input,button,textarea,select,option
        font-size: normal
    a,input,textarea
        text-decoration: none
        outline: 0
        -webkit-tap-highlight-color: rgba(0,0,0,0)
    li,img,label,input
        vertical-align: middle
    var
        font-style: normal
    ins
        text-decoration: none

    html,body
        height: 100%
        font-size: (20rem/100)
        font-family: Arial, Verdana, Sans-serif
    .viewport
        width: 100%
        margin: 0 auto
